<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymyleaf.org">
<head>
</head>
<body>

<div th:fragment="projects">
    <!-- Projects Section-->
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">E-Commerce Web Application</h2>
                                    <p>Designed and developed a secure and scalable e-commerce platform using Spring
                                        Boot, MySQL, Thymeleaf, and Spring Security. Implemented robust authentication,
                                        authorization, and seamless payment integration. Enabled dynamic product
                                        management with an intuitive admin panel. Delivered a responsive user experience
                                        with efficient database management using JPA and Hibernate.</p>
                                </div>
                                <img class="img-fluid" src="assests/images/e-commerce.jpeg"
                                     style="width: 300px; height: 400px; object-fit: cover;" alt="..."/>
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Weather Application</h2>
                                    <p>Developed a real-time weather application using Spring Boot and REST APIs for
                                        accurate weather forecasting. Integrated dynamic location-based data retrieval
                                        with a clean and responsive UI using Thymeleaf. Ensured seamless user experience
                                        with efficient API handling and error management. Applied Spring Security for
                                        secure access and data protection.</p>
                                </div>
                                <img class="img-fluid" src="assests/images/weather-images.jpeg"
                                     style="width: 300px; height: 400px; object-fit: cover;" alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" th:href="@{/contact}">Contact me</a>
            </div>
        </div>
    </section>
</div>


</body>
</html>
