<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymyleaf.org">
<head>

</head>
<body>
<!-- Page Content-->
<div class="container px-5 my-5" th:fragment="resume">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2015 - 2017</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Bachelor of Technology in Computer Science
                                            Engineering
                                        </div>
                                        <div class="small text-muted mt-1">— Gurukula Kangri (Deemed to be University),
                                            Haridwar (2023 - 2026)
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Pursuing graduation through lateral entry, focusing on core computer science
                                    subjects including software development, algorithms, and data structures. Expected
                                    to graduate in 2026.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2020 - 2023</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Diploma in Computer Science</div>
                                        <div class="small text-muted">Ambedkar Institute of Technology, BTE, Nirman
                                            Vihar, Delhi (2020 - 2023)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Graduated with 83%, gaining hands-on experience in computer science fundamentals,
                                    software development, and practical problem-solving.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2 text-center">2019</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder text-center">Senior Secondary Education — Resonance
                                            Public School
                                        </div>
                                        <div class="small fw-bolder text-center">CBSE Board (2019)</div>
                                    </div>
                                    <div class="fst-italic">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Successfully completed Class 12 with 60%, gaining a solid foundation in core
                                    subjects and extracurricular involvement.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2 text-center ">2017</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder text-center">Secondary Education — Resonance Public
                                            School,
                                        </div>
                                        <div class="small fw-bolder text-center">CBSE Board (2017)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Achieved a perfect 10 CGPA in Class 10, demonstrating strong academic performance
                                    and dedication to excellence (2017).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span
                                        class="text-gradient d-inline">Professional Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Problem Solving
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Backend Development
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web
                                        Development
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Time Management
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Communication Skills
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DataBase Management
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java(Core)</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring Boot</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MySql</div>
                                </div>
                                <div class="col mb-4 mt-3 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Hibernate</div>
                                </div>
                                <div class="col mt-3 mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring Security</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
